@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/ubuntu/UbuntuLight/UbuntuLight.ttf);
	font-weight:100;
}
@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/ubuntu/UbuntuRegular/UbuntuRegular.ttf);
	font-weight:400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/ubuntu/UbuntuMedium/UbuntuMedium.ttf);
	font-weight:600;
}
@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/ubuntu/UbuntuBold/UbuntuBold.ttf);
	font-weight:900;
}

